*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(https://www.pngmagic.com/product_images/black-background-hd-with-lighting-effects.jpg);
    background-repeat: no-repeat;
    background-size: 100rem;
    
}
.card img{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.card div h1{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.719);
}
.card div p{
    color: rgba(255, 255, 255, 0.644);
}

.card{
    width: 300px;
    height: auto;
    background: #eceaea11;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
ul{ 
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style-type: none;
    padding: 10px;
}
.fab{
    font-size: 20px;
    color: rgb(93, 151, 228);
}
.fab:hover{
    font-size: 23px;
    transition: 0.3s;
    color: rgb(219, 219, 219);
}
button{
    color: rgb(197, 201, 201);
    background-color: rgba(255, 255, 255, 0.123);
    border: none;
    padding: 8px 8px;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;   
}
button:hover{
    color: black;
    background-color: rgba(70, 212, 247, 0.281);
}